<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/checkout">Checkout</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/create_session" method="POST">
        <ul id="fieldList">
          <input name="orderId" type="text" placeholder="OrderId" />
          <li>
            <input name="amountValue" type="text" placeholder="AmountValue" />
          </li>
          <li>
            <input name="apiKey" type="text" placeholder="API Key" />
          </li>
          <li>
            <input name="merchantId" type="text" placeholder="Merchant Id" />
          </li>
          <input name="_csrf" type="hidden" value="<%= csrfToken %>" />
        </ul>

        <button type="submit">Checkout</button>
      </form>
    </main>
  </body>
</html>

<!-- <form action="form_sent.php" method="post">
    
    <button id="addMore">Add more fields</button>
    <br>
    <br>
    <input type="submit">
  </form> -->

<!-- id: string;
//     merchant_id: string; // TODO: check if something better can be used here
//     order_id: string;
//     amount_value: number; // Amount always in $ or MATIC
//     pricing: Record<string, Token>;
//     expires_at: string; // ISO date string
//     created_at: string; -->
